/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&amp;display=swap');

    body { 
      font-family: "Barlow", sans-serif;
      transition: background-image 3s ease;
      background-repeat: no-repeat;
      background-position: center;
      width: 100vw;
      height: 100vh; /* Adjust height as needed */
      margin: 0;
      padding: 0;
      position: absolute; 
      background-attachment: fixed; /* Keeps the background image fixed in place */
      text-align: center;
      cursor: url('../images/favicon.png'), auto; 
    }

    #menuContainer {
      width: 100vw;
      display: flex; /* Use flexbox */
      background-color: rgba(22, 34, 57, 0);
      position: fixed;
    }

    /* Style for the menu divs */
    .menu {
      background-color: rgba(22, 34, 57, 0); 
      color: #fff;
      padding: 10px 20px;
      text-align: center;
      flex: 1 1 36%;
    }

    .menu a {
      text-decoration: none;
      margin: 0 3%;
      font-size: 22px;
      font-family: "Barlow", sans-serif;
    }

    /* Style for the logo div */
    .logo { 
      padding: 10px;
      text-align: center; 
      flex: 1 1 20%;
    }
    
    #logo {
      width: 60%; 
    }

    .content {
      position: relative;
      padding: 60px 20px 100px 20px;
      background-color: rgba(22, 34, 57, 0.25);
      color: rgb(255, 255, 255);
      font-size: 60px
    }

    
    #livestream {
      position: fixed; /* Position the container */
      bottom: 0; /* Align the container to the bottom of the viewport */
      left: 0; /* Center the container horizontally */
      right: 0;
      text-align: center; /* Center the image horizontally */
      cursor: pointer;
      max-width: 90vw;
      display: inline-block;
    }

    #podcast {
      position: fixed; 
      bottom: 0;
      right: 0;
      text-align: center; 
      cursor: pointer;
    }

    #podcast img {
      border-radius: 50px;
      box-shadow: 1px 3px 12px 4px #fff;
    }

    @media screen and (max-width: 600px) {
      #livestream { 
        bottom: 120px; 
      }
 
      #podcast, #podcast img {
        display: none;
      }

    }

    .headline {
      width: 85vw;
    }
    

    .scrollButton { /* down arrow */
      margin: 10% 0;
      position: relative;
      bottom: 0;
      border: 0;
      background-color: rgba(22, 34, 57, 0);
      cursor: pointer;
    }

    .scrollButton img {
      color:rgb(228, 225, 225);
      width: 25%;
    }
    
    h1 {
      color:rgb(207, 207, 172);
    }

    a {
        color: #ecebeb;
    }

    a:hover {
      color:#e9be3c;
      text-decoration: underline;
    }


    @keyframes spinning {
      from { transform: rotate(0deg); }
      to { transform: rotate(360deg); }
    }

    .spin {
      animation: spinning 16s infinite linear;
    }
 
    #q96fm1, #q96fm2 {
      width: 80vw;
    }

    .darken:hover {
      opacity: 0.8;
    }

    #embedVideo {
      width: 80vw;
    }

    .videoContainer {
        position: relative;
        padding-bottom: 56.25%; /* Aspect ratio: 16:9 */
        height: 0;
        overflow: hidden;
        margin: 5vw auto; /* Center horizontally */
        width: 80vw;
      }

      .videoContainer iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; /* Adjust the width to fill the container */
        height: 100%;
      }

      @media screen and (max-width: 768px) {
        #logo {
            width: 90%
        }
        .videoContainer iframe {
            width: 95%;
            height: 95%;
          }
      } 

      footer {
        padding-top: 10%;
        background-color: #0D021C;
        color: #fff;
        padding: 20px;
        text-align: center;
        font-size: 14px;
      }
      .socialMedia {
        margin-top: 10px;
      }
      .socialMedia a {
        display: inline-block;
        margin: 0 10px;
        color: #fff;
        font-size: 20px;
        text-decoration: none;
      }

      .socialMedia > a:hover {
        color:#e9be3c;
      }

      .donate {
        position: relative;
        float: right;
        bottom: 50px;
      }

      .donate button {
        background-color: #F2B90C;
        font-weight: bold;
        border-radius: 8px;
        padding: 10px;
      }

      @keyframes blink {
        0% { opacity: 1; }
        50% { opacity: 0; }
        100% { opacity: 1; }
      }
      .blinking {
        animation: blink 4s infinite;
      }